<section>
	<div class='gradient homepage-gradient'>
		<div class='containment spacer-lg'>
			<div><h1 class='homepage-title white-text text-center'>Welcome to
					bibloTECHA</h1>
				<p class='push-up white-text text-center home-description'>Search and
					review your book today.</p></div>
			<div class='home-image-bg'></div>
			<div class='login-btn-container'>
				<a class='btn-block--pink' href='/profile'>
					Login
				</a>
				<a class='btn-block--secondary' href='/profile'>
					Sign Up
				</a>
			</div>
		</div>
	</div>
</section>

{{#each book as |books|}}
	{{!-- <div>{{name}} {{author}} {{category}} {{category}} {{ date_published}}<div> --}}
{{/each}}