
<section>
	<div class='gradient homepage-gradient'>
		<div class='containment spacer-lg'>
			<div><h1 class='homepage-title white-text text-center'>Welcome to
					bibloTECHA</h1>
				<p class='push-up white-text text-center home-description'>Search and
					review your book today.</p></div>
			<div class='home-image-bg'></div>
			<div class='login-btn-container'>
				<a class='btn-block--pink' href='/profile'>
					Login
				</a>
				<a class='btn-block--secondary' href='/profile'>
					Sign Up
				</a>
			</div>
		</div>
	</div>
</section>

{{#each book as |books|}}
	{{!-- <div>{{name}} {{author}} {{category}} {{category}} {{ date_published}}<div> --}}
{{/each}}


{{!-- <div>
    {{books.title}} by {{books.author}} {{books.publish_date}} {{books.subjects}}
<div> --}}

{{!--homepage.handlebars --}}
{{#each book as |books|}}
{{>books-details}}
{{/each}}


{{!-- books-details.handlebars --}}

{{!-- <section class="card">
  <a href="/api/books/{{books.isbn}}">
    <header>{{books.title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{books.author}}</p>
    </div>
  </a>
</section> --}}

{{!-- books.handlebars --}}

{{!-- <section class="container">
  <h3>{{books.title}}</h3>
  <h4>By {{books.author}}</h4>
  <!-- If the user is logged in, render the books info -->
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    <h4>ISBN: {{books.isbn}} </h4>
    <h4>Published: {{books.publish_date}} </h4>
    <h4>Genre: {{books.subjects}} </h4>
  </section>
</section> --}}
<!-- Otherwise, provide a link to login -->
{{!-- {{else}}
<a href="/login">Login to see additional information on this title</a>
{{/if}} --}}


