
<section class="main-body">

<div class="hero"><h2 class="greeting">Welcome, {{username}}!<br>What can I do for you today?</h2>
<div class='hand-image-bg'></div>

</div>

<div class="search spacer-sm">
   
<div class="containment tile gray-tile">
   <h2 class="secondary-header text-center">Add a Book to Your To-Read List</h2>
   <div><p class="text-center">Search by entering the book's ISBN-13 number.</p></div>
  <div class="spacer-sm">
      <div class="input-container">
      <label class="input-label" for="project-name">ISBN-13:</label>
        <input class="input-bar" type="text" id="isbnInput" name="post_isbn" />
                </div>
        <div class="btn-container spacer-sm">
          <button type="submit" id="isbnSearch" class=" btn-block--primary">Search</button>
          <button type="submit" id="updateTable" class=" btn-block--secondary ">Add Book</button>
        </div>

       
  <div class="info-list">
      <ul >
       <li class="list-inline-item" id="isbn">ISBN-13 Number: </li> 
       <li class="list-inline-item" id ="title"> Title: </li> 
       <li class="list-inline-item" id="author"> Author: </li> 
       <li class="list-inline-item" id="subjects">Subjects: </li> 
       <li class="list-inline-item" id="publishDate"> Publish Date: </li>
     </ul>
    
       </div>
   </div> 
</div>
</div>

<div class="review gradient">
  <h2 class="secondary-header white-text text-center">What did you think? Post a Review!</h2>

<div class="containment tile-container">
{{#each books as |book|}}
<div class=" tile white-tile col">
 <h3 class="book-title">{{book.title}}</h3>
  <p>by {{book.author}}</p>
  <p>ISBN-13: {{book.isbn}}</p>
    <div class="rating push-up"> 
          Rating:
          <select class="form-select" aria-label="Disabled select example">
  <option selected>out of 5</option>
  <option value="1">1 - Trash</option>
  <option value="2">2 - It was ok</option>
  <option value="3">3 - It's decent</option>
  <option value="4">4 - Great book</option>
  <option value="5">5 - Life changing, 100% reccomend!</option>
</select>
      </div>
         <div class="push-up mb-3">
  <label for="exampleFormControlTextarea1" class="review-label">Review</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
        <div class="review-btn-container">
          <button type="submit" id="deleteEntry" class="btn-block--delete">Delete Entry</button>
        <button type="submit" id="post review" class="btn-block--submit">Post Review</button>
        </div>
</div>
 {{/each}}
 </div>
</div>



</section>


        {{!-- <input class="form-input" type="text" id="rating" name="post_rating" />
        <label for="project-name">post review</label>
      
        <input class="form-input" type="text" id="review" name="post_review" />


        

      </div>
    </form>
  </div>
</div>




  {{!-- {{/each}} --}}
  <script src="./js/profile.js"></script>
  {{!-- =======
  <h2>Books I Want to Read</h2>
  <p> Hi, {{books}} </p> --}}
 
  
  {{!-- {{#if books.length}}
  <div class="col-md-6 project-list">
    <h3>Books To Read:</h3>

    {{#each books as |book|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{book.id}}">{{book.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{book.id}}">DELETE</button>
      </div>
    </div>
    {{/each}} --}}
  </div>

