<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}} !</h2>

  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h2>Add a book to your to-read list</h2>


    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">post title</label>
        <input class="form-input" type="text" id="book_title" name="post_title" />
        <label for="project-name">post author</label>
        <input class="form-input" type="text" id="book_author" name="post_text" />
        <label for="project-name">post category</label>
        <input class="form-input" type="text" id="book_category" name="post_title" />
        <label for="project-name">date published</label>
        <input class="form-input" type="text" id="date_published" name="post_text" />

        <button type="submit" id="post" class="btn btn-primary">post</button>
      </div>
    </form>
  </div>
</div>

<h2>Books I Want to Read</h2> 
{{#each books as |book|}}

{{book.name}} {{book.author}} {{book.category}} {{book.date_published}} 

{{/each}}
<script src="./js/profile.js"></script>